.pagination {
	list-style: none;
	li {
		display: inline-block;
		a {
			@include no-select();
			display: block;
			width: 32*$pt;
			height: 32*$pt;
			line-height: 32*$pt;
			text-align: center;
			color: color(grey);
			cursor: pointer;
			border: 1px solid transparent;
			border-radius: 50px;
		}
		&.active a {
			background-color: $colorPrimaryLight;
			color: #fff;
		}
	}
}